<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static './styles/styles.css' %}">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Newton Larson</title>
</head>
<body>
    <nav class="toolbar">
        <div class="row padding-1">
            <div class="col-2">
                <img class="img-icon-4" src="{% static 'logo_icon.png' %}" alt="">
            </div>
            <div class="col-8 flex-container flex-justify-right">
                <a href="/Larson">Resolver</a>
                {% if not session_ %}
                <a href="/Login">Iniciar Session</a>
                {% else %}
                <a href="/Login">Cerrar Session</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="row margin-top-2 flex-container flex-justify-center">
                <div class="col-5">
                <img class="img-full-w" src="{% static './logo_complete.png' %}" alt="logo">
                </div>
            </div>
            <div class="row margin-top-2 flex-container flex-justify-center">
                <div class="col-4">
                    {% if messages %}
                    <div class="padding-1 bg-color-3 padding-bottom-2 padding-top-2 padding-left-2 rounded-2">
                        <ul>
                        {% for message in messages %}
                            <li class="ligth">{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% if message %}
                            <h3>¿Quieres ver la solucion completa?</h3>
                            {% if session_ %}
                            <a href="/Solution/{{problem}}/{{x}}/{{error}}">Ir a la solució</a> 
                            {% else %}
                            <a href="/Login">Iniciar Sesion</a>   
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                    <h2>Ingrese un problema a resolver</h2>
                    <form class="margin-0 margin-top-1 margin-bottom-1 padding-1 bg-color-dark border" form-problem>
                        {{form_problem}}
                        <input class="text-3 text-style-italic text-w-8" type="submit" value="RESOLVER" btn_sub>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static './js/newton.js' %}"></script>
</body>
</html>