$color_1: #2C74B3;
$color_2: #205295;
$color_3: #144272;
$color_4: #0A2647;
$color_dark: #000000;
$color_ligth: #ffffff;
$color_gray: #313131;
$color_text: $color_ligth;
$color_background: $color_dark;
